@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background-color: #fff;
    font-size: 14px;
    color: #000;
}

.box {
    width: 1400px;
    margin: 100px auto;
    position: relative;
}

.box .swiper {
    width: 100%;
    height: 500px;  /* 수정 */
   
}

.box .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: transparent; /* 수정 */
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 이미지, 비디오 - 부모에 맞게 조절 - 완전히 채워짐*/
    opacity: 0.5;
    transform: scale(0.7);
    transition: .9s;
}
 /* 추가 */
.box .swiper-slide img {
    width: 80%; 
    height: 80%;  
}


/* 커지는 중앙 박스 */

.box .swiper-slide-active {
    background: transparent;/* 수정 */
   
    opacity: 1;
    transform: scale(1);
}

.box .swiper-scrollbar.swiper-scrollbar-horizontal {
    bottom: -20px;
}